.login-container{
  min-height: 100%;
  max-height: 100%;
  background-size: cover;                      /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
}
.login-form {
  background-color: transparent;
  display: table;
  padding-top: 50px;
}
