.error {
  font-size: 13px;
  color: #c7254e;
  background: #f9f2f4;
  border-radius: 3px;
  padding: 15px;
  margin: -26px 0 15px;
}
label {
  display: block;
}
span {
  display: block;
  margin: 0 0 10px;
}
input {
  outline: 0;
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  padding: 0 15px 2px;
  font-size: 17px;
  background: #fff;
  border: 2px solid #ebebeb;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 -2px #ebebeb;
  box-shadow: inset 0 -2px #ebebeb;
  &:focus {
    border-color: #62c2e4;
    outline: none;
    -webkit-box-shadow: inset 0 -2px #62c2e4;
    box-shadow: inset 0 -2px #62c2e4;
  }
}