<md-sidenav-container >
  <md-sidenav>
    <!-- sidenav content -->
    <a md-button routerLink="todo">Todos</a>
  </md-sidenav>

  <!-- primary content -->
  <md-toolbar color="primary">
    <span>{{title}}</span>
    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>

    <span>
      <a md-button routerLink="todo" *ngIf="!(auth$|async).hasError">Todos</a>
      <a md-button *ngIf="!(auth$|async).hasError">{{(auth$ | async).user?.username}}</a>
      <a md-button *ngIf="(auth$|async).hasError" (click)="login()">
        Login
      </a>
      <a md-button *ngIf="!(auth$|async).hasError" (click)="logout()">
        Logout
      </a>
    </span>
  </md-toolbar>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>